$fontColor: #66B2C2;
$fontBold: #344455;
$lightColor: #9EB5CF;
$whiteWeb: #ffffff;
$textColor: #607387;

:export{
    fontColor: $fontColor;
    fontBold: $fontBold;
    lightColor: $lightColor;
    whiteWeb: $whiteWeb;
    textColor: $textColor;
}