@import "../../styles/variables.scss";

.navbar {
    padding: 2.2rem 3.5rem;
    flex-direction: row;
    .navbar-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .navbar-logo img {
        max-height: 50px; 
      }
  
      .navbar-content ul {
        list-style: none;
        display: flex;
        gap: 1.5rem;
        
        li {
          color: $whiteWeb;
          font-size: 1rem;
          cursor: pointer;
          font-family: "Roboto", sans-serif;
          font-weight: 500;
          color: $fontBold;
          &:hover {
            color: $lightColor;
            font-size: 1.1rem;
          }
        }
      }
  
      button {
        background-color: $fontBold;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        border-radius: 16px;
        transition: background-color 0.3s;
        font-family: "Roboto", sans-serif;
        
        &:hover {
          background-color: darken($fontColor, 10%);
        }
      }
    }
    .hamburger {
        display: none;
        cursor: pointer;
        color: $fontBold;
  
        svg {
          color: $fontBold;
          width: 24px;
          height: 24px;
        }
      }
  }
  // Estilos para dispositivos móveis
  @media (max-width: 768px) {
    .navbar-container {
      .navbar-content {
        display: none;

        ul {
          display: none;
          
          li {
            display: none;
          }
        }

       
      }
      button{
        display: none;
      }

      .hamburger {
        display: flex; 
        align-items: center;
        justify-content: center; 

        svg{
            width: 32px; 
          height: 32px;
        }
      }
    }
  }
  